In [7]:
import pandas as pd
import datetime
import numpy as np
import pandas.api.types as pdtypes


df = pd.read_csv("agosto23_bike.csv")

año_actual = datetime.datetime.now().year

df['Edad'] = año_actual - df['Anyo_de_nacimiento']

df = df.loc[df['Edad'] >= 18]

df['Edad'] = df['Edad'].astype(int)

df['Genero'] = df['Genero'].astype(pdtypes.CategoricalDtype(categories=['F', 'M']))

In [5]:
df

,Viaje_Id,Usuario_Id,Genero,Anyo_de_nacimiento,Origen_Id,Destino_Id,Duracion,Dia,Edad
0,29671930,431222,F,1993.0,48,48,0.400000,1,30
1,29671932,1071506,M,1964.0,27,60,20.383333,1,59
2,29671933,1442326,M,2000.0,41,9,10.816667,1,23
3,29671934,431222,F,1993.0,48,48,0.383333,1,30
4,29671935,2324256,NaN,1994.0,199,50,9.716667,1,29
...,...,...,...,...,...,...,...,...,...
354805,30087337,1202512,M,1995.0,16,170,2.850000,31,28
354806,30087338,1346637,M,1995.0,79,53,8.050000,31,28
354807,30087343,2540332,M,1989.0,79,179,26.583333,31,34
354808,30087344,2051727,F,2002.0,244,311,12.166667,31,21
354809,30087345,1213162,M,1988.0,296,266,11.683333,31,35